html {
    min-height: 100%;
    background: #07143B !important;
}

body {
    padding: 0px;
    margin: 0px;
    background: #07143B;
    height: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    background: #314274;
    color: #7C88AE;
}

.titleBox {
    background: #443176;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    padding: 15px;
}

.desc {
    background: #443176;
    color: rgba(255, 255, 255, 0.8);
    text-align: left;
    padding: 15px;
}

.commentBoxes {
    border-style: solid;
    border-width: 2px;
    border-color: #16073C;
    background: #ffffff;
    padding: 10px;
}

.boxContainer {
    height: 100vh;
}